.titulo-analisis {
    color: #6a0dad; /* violeta */
    font-size: 24px;
    margin-bottom: 15px;
}

.grid-analisis {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}

.grid-analisis th {
    background-color: #6a0dad; /* violeta */
    color: white;
    padding: 10px;
    text-align: center;
}

.grid-analisis td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


.accion-container {
    margin-bottom: 20px;
}

.btn-accion {
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    background-color: #8a2be2; /* Un morado similar al tuyo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-weight: bold;
}

    .btn-accion:hover {
        background-color: #6a0dad; /* El morado oscuro de tu cabecera */
    }
