/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f44336, #ff7961);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del mensaje */
.bloqueo-box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 50px 60px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    animation: fadeIn 1s ease-in-out;
}

    /* Título */
.bloqueo-box h2 {
    font-s
